version: "3.9"

services:
  app:
    build: .
    container_name: hla_finder
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      - redis
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=hla_db2
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  mysql:
    image: mysql:8
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hla_db2
    ports:
      - "3306:3306"
    volumes:
      - docker_mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8081:80"

  redis:
    image: redis:7
    container_name: redis_cache_v1
    ports:
      - "6379:6379"
    volumes:
      - docker_distance_matrix:/data

volumes:
  docker_mysql_data:
    external: true
  docker_distance_matrix:
    external: true
